<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suites>
	<suite name="Hackathon" preserve-order="true">
		<suite-files>
			<suite-file path="./Chrome.xml" />
			<!-- <suite-file path="./Firefox.xml" /> -->
		</suite-files>
	</suite>
</suites>